#gjs {
  border: 3px solid #444;
}

.gjs-cv-canvas, .gjs-pn-commands {
  width: 78%;
}

.gjs-pn-options {
  right: 22%;
}

.gjs-pn-btn {
  font-size: 18px;
}

.gjs-pn-views-container, .gjs-pn-views {
  width: 22%;
}

// Metabox
#wp_popup_settings_metabox, #wp_popup_template_editor_metabox {
  & > .inside {
    padding: 0;
    margin: 0;

    .prince-metabox-tabs {
      padding: 0;
      .prince-metabox-nav, .prince-metabox-panels {
        margin-top: 0;
      }
    }

  }
}
